<template>
  <div id="app" class="main">
    <leftsidebar />
    <div class="right-container">
      <div class="topbar">
        <topbar />
      </div>
      <div class="right-bar">
        <div class="right-top-site-details">
          <sitedetails />
        </div>
        <div class="banner-container">
          <alertbar />
        </div>
        <div class="statics-container">
           <div class="static1">
             <div><cookiesstat /></div>
             <div><scriptstat /></div>
             <div><categoriesstat /></div>
             <div><pagesstat /></div>
           </div>
           <div class="static2">
             <piechart />
           </div>
        </div>
        <div class="table-container">
          <recentvistors />
        </div>
     </div>
    </div>
  </div>
</template>

<script>
import leftsidebar from './components/left-sidebar.vue'
import recentvistors from './components/recent-visitors.vue'
import scriptstat from './components/total-scripts.vue'
import cookiesstat from './components/total-cookies.vue'
import categoriesstat from './components/categories.vue'
import pagesstat from './components/pages.vue'
import sitedetails from './components/site-details.vue'
import alertbar from './components/alert-banner.vue'
import topbar from './components/top-bar.vue'
import piechart from './components/piechart.vue'

export default {
  name: 'App',
  components: {
    leftsidebar,recentvistors,piechart,alertbar,topbar,sitedetails,scriptstat,cookiesstat,categoriesstat,pagesstat,
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
.main {
  font-family: 'Oxygen', sans-serif;
  display:flex;
  flex-direction:row;
  width:99vw;
  height:100vh;
}
.right-container{
  display:flex;
  flex-direction:column;
  width:99%;
  height:115%;
  background-color:#eeeeee;
}
.statics-container{
  display:flex;
  flex-direction:row;
  wrap:no-wrap;
}
.piechart{
  width:366px;
  height:267px;
  background-color:white;
  border-radius:8px;
}
.topbar{
  background-color:#ffff;
  height:72px;
  margin-left:6px;
  padding-top:15px;
}
.right-bar{
  margin-left:36px;
  margin-right:28px;
}
.right-top-site-details{
  height:94px;
  padding-top:25px;
}
.banner-container{
  background-color:#ffff;
  border-radius:8px;
  height:70px;
  padding-top:20px;
}
.static1{
  display:flex;
  flex-direction:row;
  width:51%;
  flex-wrap:wrap;
}
.static2{
  background-color:#ffff;
  width:367px;
  height:267px;
  padding:25px;
  border-radius:8px;
}
.statics-container{
  display:flex;
  flex-direction:row;
  height:267px;
  width:100%;
  margin-top:30px;
  flex-wrap:wrap;
}
.table-container{
  margin-top:32px;
  margin-bottom:73px;
}
</style>
