<template>
	<b-container class="alert-banner-container" align-v="center">
                    <img src="../assets/svg/icon-1.svg" alt="alert">
                    <span>Cookieyes banner not active yet.</span>
                    <a href="">Complete Setup</a>
            </b-container> 
</template>


<script>
	export default{
      name:'alertbar'
   };
</script>

<style scoped>
.alert-banner-container{
  margin-left:28px;
}
 .alert-banner-container span{
   margin-left:13px;
   font-size:16px;
   font-weight:normal;
   color:#1e2022;
 }
 .alert-banner-container a{
   margin-left:6px;
   color:#de4437;
   font-size:16px;
   font-weight:bold;
 }
</style>