<template>
	<div class="main">
		<div class="left-sidebar" v-if="!isHidden">
			<b-container class="left-sidebar-logo">
                <img src="../assets/svg/group.svg" alt="">
            </b-container>
            <div>

 <b-container>         	
  <b-nav vertical class="w-35">
    <b-nav-item active><img src="../assets/svg/monitor.svg">Dashboard</b-nav-item>
    <b-nav-item><img src="../assets/svg/browser.svg">Consent Banner</b-nav-item>
    <b-nav-item><img src="../assets/svg/005-biscuit.svg">Cookies</b-nav-item>
    <b-nav-item><img src="../assets/svg/search-1.svg">Scan</b-nav-item>
    <b-nav-item><img src="../assets/svg/file.svg">Reports</b-nav-item>
    <b-nav-item><img src="../assets/svg/settings-2.svg">Settings</b-nav-item>
  </b-nav>
</b-container>

</div>
		</div><!--left side bar-->

		<div class="right-bar">
			<b-container class="top-bar">
				<b-row>
					<b-col><b-icon icon="list" v-on:click="isHidden = !isHidden"></b-icon></b-col>
					<b-col><b-dropdown text="https://cookieyes.com" variant="outline-secondary" class="m-2"></b-dropdown>
                        <span class="icon-box"><img src="../assets/svg/combined-shape.svg" alt="notifications"></span>
                        <span class="icon-box"><img src="../assets/svg/settings-2 (1).svg" alt="settings"></span>
                        <span class="icon-box"><img src="../assets/svg/group-5.svg" alt="user"></span>
                    </b-col>
				</b-row>	
			</b-container>
            <b-container>
              <b-row class="site-details-container">
                <b-col>
                  <span class="site-link">https://cookieyes.com</span>
                  <img src="../assets/svg/check-2.svg">
                  <span>Banner Active</span>
                </b-col> 
                <b-col>
                  <span class="last-scan">Last Scan : 09/24/2019</span>
                  <b-button variant="primary">Rescan</b-button>
                </b-col>
              </b-row><!--site-details-->
            </b-container>

            <b-container class="alert-banner-container">
                    <img src="../assets/svg/icon-1.svg" alt="alert">
                    <span>Cookieyes banner not active yet</span>
                    <a href="">Complete Setup</a>
            </b-container>    

            <b-container class="picture-representation-container">
                <b-row>
                    <b-col class="representation-container">
                        <span><img src="../assets/svg/005-biscuit (1).svg"></span>
                        <span>10</span>
                        <span>Total Cookies</span>
                        <span>2 New cookies</span>
                    </b-col>
                    <b-col class="representation-container">
                        <span><img src="../assets/svg/group-10.svg"></span>
                        <span>10</span>
                        <span>Total Cookies</span>
                        <span>2 New cookies</span>
                    </b-col>
                    <b-col class="representation-container">
                        <span><img src="../assets/svg/free.svg"></span>
                        <span>10</span>
                        <span>Total Cookies</span>
                        <span>2 New cookies</span>
                    </b-col>
                    <b-col class="representation-container">
                        <span><img src="../assets/svg/computer-1.svg"></span>
                        <span>10</span>
                        <span>Total Cookies</span>
                        <span>2 New cookies</span>
                    </b-col>
                </b-row>
            </b-container>
		</div><!--rightbar-->
	</div>
</template>

<script>
import piechart from './components/piechart.vue'


	export default{
		name:'cookieyes',
        components:{piechart,},
        data:function(){ 
        return{
        isHidden: false,
    }},
}
</script>

<style scoped>

 .left-sidebar{
  width: 228px;
  height: 927px;
  background-image: linear-gradient(to bottom,#1883bd,#251888);
 }
 .main{
    display:flex;
    flex-direction:row;
 }
 .right-bar{
    display:flex;
    flex-direction:column;
    width:100%;
    background-color:#eeeeee;
 }
 .right-bar .top-bar{
    margin-left:5px;
    height:72px;
    background-color:#ffff;
 }
 .alert-banner-container{
    margin-left:36px;
    margin-right:29px;
    border-radius:8px;
    height:70px;
    width:95%;
    background-color:#ffff;
 }
 .alert-banner-container img{
    width:24px;
    height:24px;
 }
 .representation-container{
    display:flex;
    flex-direction:column;
 }
 .representation-container img{
    width:30px;
    height:30px;
 }

</style>