<template>
<div class="left-sidebar" v-if="!isHidden">
			<b-container class="left-sidebar-logo">
                <img src="../assets/svg/group.svg" alt="">
            </b-container>
            <div>

 <b-container class="nav-bar-container">         	
  <b-nav vertical class="w-35">
    <b-nav-item active><img src="../assets/svg/monitor.svg">Dashboard</b-nav-item>
    <b-nav-item><img src="../assets/svg/browser.svg">Consent Banner</b-nav-item>
    <b-nav-item><img src="../assets/svg/005-biscuit.svg">Cookies</b-nav-item>
    <b-nav-item><img src="../assets/svg/search-1.svg">Scan</b-nav-item>
    <b-nav-item><img src="../assets/svg/file.svg">Reports</b-nav-item>
    <b-nav-item><img src="../assets/svg/settings-2.svg">Settings</b-nav-item>
  </b-nav>
</b-container>

</div>
</div><!--left side bar-->

</template>	

<script>
 export default{
		name:'leftsidebar',
    data:function(){ 
        return{
        isHidden: false,
    }},
	};	
</script>

<style scoped>
.left-sidebar{
  width: 228px;
  height: 115%;
  background-image: linear-gradient(to bottom,#1883bd,#251888);
 }
 .left-sidebar-logo{
  width: 140px;
  height: 35px;
  margin: 18px 31px 48px 23px;
  object-fit: contain;
 }
.nav-bar-container{
  width:228px;
 align-items:center;
 font-weight:bold;
 font-size:15px;
}
.nav-link.active{
  background-color:rgba(255, 255, 255, 0.05);
  border-radius:4px;
}
.nav-link{
  color:#ffff;
  margin-top:21px;
  margin-bottom:21px;
}
.nav-item img{
  padding-right:15px;
  transform:scale(0.9);
}
</style>