<template>
	<div class="chart-container">
	<span class="chart-heading">Cookies</span>	
	<apexchart ref="donut" width="350" type="pie" :options="chartOptions" :series="series"></apexchart>
	</div>
</template>

<script>
 export default{
		name:'piechart',
		data:function(){
			return{
				chartOptions: {
					labels:["Accepted","Partially Accepted","Rejected"],
                    colors:["#00c9a6","#de4437","#ffc109"],
				},
				series:[65,15,20],
			}
		},
	}
</script>

<style scoped>
 .chart-heading{
    font-size:16px;
    font-weight:bold;
    color:#211f1f;
 }
</style>