<template>
	<div>
	<h3 class="heading">Recent Visitors</h3>
<b-table-simple class="t1" borderless>
      <b-thead>
        <b-tr class="table-heading">
          <b-th>IP Address</b-th>
          <b-th>Country</b-th>
          <b-th>Device</b-th>
          <b-th>Consent Status</b-th>
          <b-th>Time and date</b-th>
        </b-tr>
      </b-thead>
      <b-tbody>
        <b-tr class="table-row" v-for="i of items" :key="i.id">
          <b-td>{{i.ip}}</b-td>
          <b-td>{{i.country}}</b-td>
          <b-td>{{i.device}}</b-td>
          <b-td><b-badge class="status">{{i.status}}</b-badge></b-td>
          <b-td>{{i.time}}</b-td>
        </b-tr>
      </b-tbody>
    </b-table-simple>
    </div>
</template>

<script>
	export default{
		name:'recentvistors',
		data() {
        return {
         items: [
          {ip:"202.164.149.**",country:"United States",device:"Mobile",status:"Accepted",time:"10:23 AM,02/11/2019"},{ip:"202.164.149.**",country:"United States",device:"Mobile",status:"Accepted",time:"10:23 AM,02/11/2019"},{ip:"202.164.149.**",country:"United States",device:"Mobile",status:"Accepted",time:"10:23 AM,02/11/2019"},
        ]
      }
    }
	};
</script>

<style scoped>
.heading{
    font-size:20px;
    font-weight:700;
    color:#211f1f;
}
.t1{
    border-collapse: separate;
    border-spacing: 0 20px;
    border-radius:8px;
}
.status{
    background-color:#ecf9f6;
    color:#00c9a6;
    font-weight:bold;
    font-size:14px;
    height:33px;
    width:auto;
    padding:8px;
}
.status2{
    background-color:#ecf2ff;
    color:#1b7cf8;
    font-weight:bold;
    font-size:14px;
    height:33px;
    width:auto;
    padding:8px;
}
.table-row{
    background-color:#ffff;
    border-radius:8px;
    font-size:14px;
    font-weight:400;
    color:#0b0b0b;
    vertical-align:middle;
}
.table .table-heading{
    font-weight:700;
    font-size:15px;
    color:#636363;
}
</style>