<template>
	<b-row class="site-details-container">
                <b-col class="site-details-1">
                  <span class="site-link">{{site}}</span>
                  <img src="../assets/svg/check-2.svg">
                  <span>Banner Active</span>
                </b-col> 
                <b-col class="site-details-2">
                  <span class="last-scan">Last Scan : 09/24/2019</span>
                  <b-button>Rescan</b-button>
                </b-col>
    </b-row><!--site-details-->
</template>

<script>
	export default{
		name:'sitedetails',
    data:function(){
      return{
        site:"https://cookieyes.com",
      }
    }
	};
</script>

<style scoped>
 .site-details-2{
  text-align:end;
 }
 .site-link{
  font-size:25px;
  font-weight:bold;
 }
 .site-details-1 img{
  margin-left:18px;
  margin-top:-1px;
 }
 .site-details-1 span:nth-child(3){
   margin-left:7px;
   font-size:15px;
   font-weight:bold;
 }
 .last-scan{
  font-size:15px;
  color:#8c98a4;
  margin-right:25px;
 }
 .site-details-2 button{
  width: 91px;
  height: 39px;
  background-color: #1b7cf8;
  border:0px;
  font-weight:bold;
  font-size:15px;
  color:#ffffff;
 }
</style>