<template>
  <div class="t1">
    <b-row>
    <b-col class="top1"><b-icon icon="list" v-on:click="isHidden = !isHidden"></b-icon></b-col>
    <b-col class="top2">
        <b-dropdown text="https://cookieyes.com" class="drop-down" variant="outline"></b-dropdown>
        <span class="icon-box"><img src="../assets/svg/combined-shape.svg" alt="notifications"></span>
        <span class="icon-box"><img src="../assets/svg/settings-2 (1).svg" alt="settings"></span>
        <span class="icon-box"><img src="../assets/svg/group-5.svg" alt="user"></span>
    </b-col>
    </b-row>
  </div>
</template>

<script>
	export default{
		name:'topbar',
	};

</script>

<style>
 .icon-box{
    width:40px;
    height:40px;
    background-color:transparent;
    border:1px solid #e4e8f3;
    margin-left:10px;
 }
 .drop-down{
    border:1px solid #e4e8f3;
    border-radius:3px;
 }
 .t1{
    margin-left:0px;
 }
.top1{
    margin-left:33px;
 }
 .top2{
    text-align:end;
    margin-bottom:10px;
    margin-right:30px;
 }
 .top1 svg{
    transform:scale(1.5);
 }
</style>