<template>
    <b-col align-h="center" class="statistics-container">
                        <span><img src="../assets/svg/group-10.svg"></span>
                        <span>3</span>
                        <span>Total Scripts</span>
                        <span>1 New script</span>
                    </b-col>
</template>

<script>
export default{
        name:'scriptstat'
    };
</script>

<style scoped>
.statistics-container{
    text-align:center;
    display:flex;
    flex-direction:column;
    width:167px;
    min-height:267px;
    border-radius:8px;
    background-color:#ffffff;
    margin-left:24px;
    flex-grow: unset;
}
.statistics-container span:first-child{
    width:73px;
    height:73px;
    border-radius:50%;
    text-align:center;
    margin-top:35px;
    margin-left:47px;
    padding-top:22px;
    background-color:#fff9eb;
}
.statistics-container span:nth-child(2){
    margin-top:19px;
    font-weight:bold;
    font-size:30px;
    color:#211f1f;
}
.statistics-container span:nth-child(3){
    font-weight:bold;
    margin-top:18px;
    font-size:16px;
    color:#1e2022;
}
.statistics-container span:nth-child(4){
    font-weight:normal;
    margin-top:8px;
    font-size:15px;
    color:#9f9f9f;
}
</style>